<div style="padding: 10px;"></div>
<%- include('../includes/cookiePrivacyAnalytics.ejs') %>
<footer>
  <hr>
  <div class="footer">
    <div class="footer-desio" style="text-align: left;margin-left: 20px;"> Dhesìo</div>
    <div class="footer-destra">
      <div></div>
      <div style="margin-right: 20px; font-size: 10px; padding-top: 2px;"><a href="/regolamento">Termini del
          Servizio</a> e <a href="/privacy">Privacy Policy</a></div>
    </div>
  </div>
</footer>
</body>

</html>