<%- include('head.ejs') %>

</head>

<body>

  <%- include('navbar3.ejs') %>



  <div class="tutto">
    <div></div>
    <div>
      <div class="logcanc">
      <div class="presto">Ciao</div>
      <div class="nomelogout"><%= user %>,</div>
      <div class="fastaddio"><img src="/images/singlepage/addio.jpg"></div>
      <div class="giro">Le nostre strade si separano qui... </div>

      <div class="logouteff">Account eliminato con successo.</div>
      <div class="tornerai">Se mai un giorno tornerai saremo pronti a riaccoglierti a braccia aperte..</div>
    </div>

    </div>
    <div></div>
  </div>



  <%- include('end.ejs') %>