<%- include('head.ejs') %>

</head>

<body>

    <div class="navbar" style="border-bottom: 1px solid #EDEDED;">
        <ul style="background-color: #FFFDFA;">
          <div class="listasotto">
            <li>
              
              &nbsp;&nbsp; &nbsp;&nbsp;
            
            </li>
          </div>
          <li><a href="/"><img src="/images/singlepage/logo.png"></a></li>
          <div class="listasotto">
            <li>
              <form action="/aiuto" method="get">
                <button class="btn" type="submit" style="padding: 0em;"><img src="/images/singlepage/help.png"></button>
              </form>
      
            </li>
          </div>
        </ul>
      </div>
      <div style="padding: 2.6rem;"></div>


  
  <div class="tutto">
    <div></div>
    <div>
      
    </div>
    <div></div>
  </div>



  <%- include('end.ejs') %>