<%- include('head.ejs') %>

</head>

<body>

  <%- include('navbar.ejs') %>

  <div class="tutto">
    <div></div>
    <%- include('elementdetails.ejs') %>
    <div></div>
  </div>

  <%- include('end.ejs') %>