<div style="padding: 10px;"></div>
<script
  type="text/javascript">var nibirumail_advice_text = 'Sei preoccupato per qualche biscotto? Leggi la nostra <a href="/privacy" target="_blank">cookie policy</a>. <a href="javascript:;" class="nibirumail_agreement">Capito</a>';</script>
<script type="text/javascript" src="https://nibirumail.com/docs/scripts/nibirumail.cookie.min.js"></script>
<footer>
  <hr>
  <div class="footer">
    <div class="footer-desio" style="text-align: left;margin-left: 20px;"> Dhesìo</div>
    <div class="footer-destra">
      <div></div>
      <div style="margin-right: 20px; font-size: 10px; padding-top: 2px;"><a href="/regolamento">Termini del
          Servizio</a> e <a href="/privacy">Privacy Policy</a></div>
    </div>
  </div>
</footer>
</body>

</html>