<%- include('head.ejs') %>

</head>

<body>


  <%- include('navbar3.ejs') %>



  <div class="tutto">
    <div></div>
    <div>
      <div class="logcanc">
        <div class="presto">A presto</div>
        <div class="ominociao"><img src="/images/singlepage/F/F-salutinoConMano.png"></div>
        <div class="giro">ci vediamo in giro</div>

        <div class="logouteff">Logout effettue, effettuera., effettuerato con successo.</div>
      </div>
    </div>
    <div></div>
  </div>



  <%- include('end.ejs') %>