<div class="navbar" style="border-bottom: 1px solid #EDEDED; background-color: white;">
  <div style="background-color: white;">
    <div class="listasotto" style="background-color: #ffffff;">
      <div style="text-align: center;     padding-left: 10px;">
      <a href="/"><img src="/images/casa<% if(pageTitle == 'Dhesìo') { %>Orange<% } %>.png" alt="" style="width: 30px;padding-top: 3px;"></a>
      </div>
    <div>
      <a href="/aziende"><img src="/images/negozio<% if(pageTitle == 'Aziende') { %>Orange<% } %>.png" alt="" style="width: 25px;padding-top: 5px;"></a>
    </div>
    <div></div>
    <div>
      <div id="logo2"><img src="/images/singlepage/logo.png"></div>
  </div>
    <div></div>
    <div></div>
    <div >
      
        <a href="/aiuto">
        <div id="aiutoid" class="navbar_riquadro riquadro" style="color: rgba(24, 27, 31, 0.67); font-size: 12px; ">Come funziona</div>
      </a>
    </div>
    <div></div>
  </div>
  </div>
</div>

<div style="padding: 2.6rem;"></div>