<div class="navbar" style="border-bottom: 1px solid #EDEDED; background-color: white;">
    <div style="background-color: white;">
    <div class="listasotto" style="background-color: #ff90520f;">
      <div style="text-align: center;padding-top: 4px;      padding-left: 10px;">

      </div>
    <div></div>
    <div><a href="/"><img src="/images/singlepage/logo.png"></a></div>
    <div></div>
      <div>
        <form action="/aiuto" method="get">
          <button class="btnCustom" type="submit" style="padding: 0em;"><img src="/images/singlepage/help.png" style="width: 27px;padding-top: 5px;"></button>
        </form>

      </div>
    
  </div>
</div>
 
</div>
<div style="padding: 2.6rem;"></div>