<div class="navbar" style="background-color: white;">
  
  <div class="listasotto" >
    <div style="text-align: center;">
      
    </div>
  <div></div>
  <div><img src="/images/singlepage/logo.png"></div>
  <div></div>
    <div>
    <a href="/<% if(locals.urlEvento){ %><%= urlEvento %><% } %>"><img src="/images/singlepage/indietro.png" style="width: 24px;margin: 9px;"></a>
    </div>
  
</div>
</div>
<div style="padding-bottom: 4rem;"></div>