<div class="navbar" style="background-color: white;">
  
    <div class="listasotto" >
      <div style="text-align: center;padding-top: 4px;      padding-left: 10px;">

      </div>
    <div></div>
    <div><a href="/"><img src="/images/singlepage/logo.png"></a></div>
    <div></div>
      <div>


      </div>
    
  </div>
 
</div>
<div style="padding: 2.6rem;"></div>