<div class="utenteautenticato">
  <div></div>
  <% if (autenticato) { %>
    <% if (user.nickname!="id_instagram2") { %>
     
    
    
    
    
  <div>

  </div>
  <div style="padding-top: 3px ;">
    <%= user.nickname %> 
  </div>

  <% } else{ %>
    
          
  <% } %>
      <% } else { %>
        
        <% } %>
  <div></div>
</div>
  <% if(!autenticato){%>

  <% } %>