<%- include('singlepage/head.ejs') %>

</head>

<body>

  <%- include('singlepage/navbar3.ejs') %>


  
  <div class="tutto">
    <div></div>
    <div>
      <div class="immagineerrore404"><img src="/images/singlepage/404.png"></div>
      <div class="descrizionerrore">Oops, sembra che questa pagina non esista...<br>
        Sicuro di aver digitato bene?</div>
      <div class="codiceerr">Error 404</div>
    </div>
    <div></div>
  </div>



  <%- include('singlepage/end.ejs') %>