<%- include('singlepage/head.ejs') %>

</head>

<body>

  <%- include('singlepage/navbar3.ejs') %>


  
  <div class="tutto">
    <div></div>
    <div>
      
      <div class="immagineerrore500"><img src="/images/singlepage/F/F-scorra.png"></div>
      <div class="descrizionerrore">Oops, ci è sfuggito qualcosa...<br>
        Risolveremo tutto il prima possibile, promesso</div>
      <div class="codiceerr">Error 500</div>

    </div>
    <div></div>
  </div>



  <%- include('singlepage/end.ejs') %>