<html>

<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159126033-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag() { dataLayer.push(arguments); }
     gtag('js', new Date());
 
     gtag('config', 'UA-159126033-1');
   </script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title><%= pageTitle %></title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/css/singlePage.css">
   <link rel="icon" href="/images/singlepage/logo.png">
 
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159126033-1"></script>
 
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta name="generator" content="Aspose.Words for .NET 19.9" />
  <title><%=pageTitle %></title>
</head>

<style>

  </style>

<body >
  <div class="navbar" style="background-color: white;">

    <div class="listasotto">
      <div style="text-align: center;">

      </div>
      <div></div>
      <div><a href="/"><img src="/images/singlepage/logo.png"></a></div>
      <div></div>
      <div>


      </div>

    </div>
  </div>
  <div style="padding: 2.6rem;"></div>
  <div<div style="margin: 15px;"></div>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt"><span
        style="  font-weight:bold">TERMINI E CONDIZIONI</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>

    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Accettando i Termini e Condizioni e/o registrandosi su </span><span
         >Dhesìo</span><span  >, si
        conferma l’idoneità ad utilizzare </span><span  >Dhesìo</span><span
         >. Se non si accettano i presenti Termini e condizioni, si prega di
        non utilizzare </span><span  >Dhesìo</span><span
         > e di uscire dalle pagine di www.dhesio.com. In caso di accesso e/o
        utilizzo di qualsiasi servizio offerto da </span><span
         >Dhesìo</span><span  >,
        l’utente accetta ed è vincolato dai presenti Termini e Condizioni.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Utilizzando il sito www.dhesio.com, si
        garantisce di avere diritti, autorità e capacità di accettare questo accordo e di rispettarne tutti i Termini e
        Condizioni.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >I prodotti e servizi sono offerti
        esclusivamente ad utenti privati, con l’esclusione di tutti i rivenditori commerciali.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Ogni account può essere utilizzato solo
        dall’utente registrante e da nessun altro. Tutte le informazioni fornite, devono essere veritiere, complete e
        corrette, ed è necessario notificare immediatamente a </span><span
         >Dhesìo</span><span
         > qualsiasi modifica di tali informazioni
        che possa influenzare il servizio e la sua efficacia. È permesso avere un solo account per persona; se si tenta
        di aprire più di un account, quelli in eccesso e anche il principale, potranno essere bloccati o chiusi. Nel
        processo di registrazione si dovrà scegliere il nome utente e password per il login su </span><span
         >Dhesìo</span><span
         >. </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Dhesìo</span><span
         > si riserva il diritto di limitare in ogni
        momento il numero di account per nucleo familiare. È necessario scegliere un nome utente che non deve in alcun
        modo essere offensivo, indecente, ingannevole o fuorviante per gli altri utenti o persone. Né può essere
        utilizzato per pubblicizzare o promuovere altri siti web o servizi, fornire link ad altri utenti. </span><span
         >Dhesìo</span><span
         > si riserva il diritto di modificare i nomi
        utente, per qualsiasi motivo, ed è l’arbitro di ogni questione in tal senso. </span><span
         >Dhesìo</span><span
         > non richiederà mai alcuna password
        all’utente in alcuna forma, se non per effettuare il login su www.dhesio.com. L’utente è l’unico responsabile
        della conservazione e della salvaguardia della password del proprio account. Vi suggeriamo di non fornire la
        password a nessuno, compresi i dipendenti di </span><span
         >Dhesìo</span><span
         >. Gli account sono trasferibili solo in
        casi eccezionali ed a discrezionalità di </span><span
         >Dhesìo</span><span
         >. </span><span
         >Dhesìo</span><span
         > non è responsabile per qualsiasi abuso o
        uso improprio dell’account da parte di terzi a causa della divulgazione, sia intenzionale che accidentale, dei
        dati di accesso.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Da parte dell’utente: è possibile chiudere
        il proprio account in qualsiasi momento, inviando notifica della vostra intenzione.</span><br /><span
         >Da parte di </span><span
         >Dhesìo</span><span
         >: </span><span
         >Dhesìo</span><span
         > si riserva il diritto di sospendere
        temporaneamente o permanentemente un account a suo insindacabile giudizio, se determina che l’utente abbia
        violato i presenti Termini e Condizioni, qualsiasi legge o i diritti dei nostri utenti o di terzi. Esempi di
        utilizzo non autorizzato includono la creazione di account multipli dello stesso utente. L’utente accetta che se
      </span><span  >Dhesìo</span><span
         >, in buona fede e a sua esclusiva
        discrezione, stabilirà che esiste violazione dei Termini e Condizioni, potrà rifiutare, annullare o sospendere
        qualsiasi consegna in corso e/o eventuale rimborso per il premio proposto.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><a name="_heading_h.gjdgxs"></a><span
         >Richieste di risarcimento danni da parte
        dell’utente nei confronti di </span><span
         >Dhesìo</span><span
         >, dei suoi legali rappresentanti,
        dipendenti o soggetti che curano particolari prestazioni non sono ammesse. In particolare, </span><span
         >Dhesìo</span><span
         > non è responsabile per il malfunzionamento
        degli apparati telefonici, della linea o del computer/software utilizzato dagli utenti durante la partecipazione
        al concorso a premio. Nel caso un tale evento si verifichi, l’utente non avrà alcun diritto legale sul prodotto
        oggetto del concorso a premio. Ogni utente accetta espressamente che l’utilizzo di </span><span
         >Dhesìo</span><span
         > è a rischio esclusivo dell’utente.
      </span><span  >Dhesìo</span><span
         > non garantisce che alcun risultato possa
        essere ottenuto con l’uso del sito. </span><span
         >Dhesìo</span><span
         > non può garantire l’accesso continuo al
        servizio: sebbene indirizzi ogni ragionevole sforzo per mantenerlo ininterrotto, non può garantirlo e non offre
        alcuna promessa o garanzia (esplicita o implicita) circa la disponibilità dei servizi. Nel caso in cui un
        concorso si chiuda irregolarmente, </span><span
         >Dhesìo</span><span
         > farà del suo meglio per notificare
        all’utente che il concorso è terminato irregolarmente nel più breve tempo possibile, impegnandosi
        nell’individuare e correggere il problema. Dopo un errore tecnico, in base alla tipologia dell’errore
        verificatosi, </span><span
         >Dhesìo</span><span
         > ha il diritto di riaprire il concorso
        stesso riavviando l’evento fin dall’inizio con il conseguente rimborso delle possibilità. </span><span
         >Dhesìo</span><span
         > renderà pubblico il vincitore sul proprio
        sito web creando un collegamento diretto al profilo Instagram dell’utente vincitore. </span><span
         >Dhesìo</span><span
         > si riserva il diritto di modificare i
        presenti Termini e Condizioni in qualsiasi momento senza preavviso.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt; font-size:18pt"><span
        style="  font-weight:bold">&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >In conformità alle
        disposizioni riportate nel D.P.R 430/2001</span><span  >&#xa0;</span><span
         >&#xa0;</span><span  > </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
        style="  font-weight:bold; color:#3b3b3b">Art.1 Ambito applicativo</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. I concorsi e le operazioni a premio di
        ogni specie, consistenti in promesse di premi al pubblico dirette a favorire, nel territorio dello Stato, la
        conoscenza di prodotti, servizi, ditte, insegne o marchi o la vendita di determinati prodotti o la prestazione
        di servizi, aventi, comunque, fini anche in parte commerciali, si effettuano alle condizioni e con le modalità
        di cui al presente titolo.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Per le obbligazioni assunte nei
        confronti dei promissari si applicano le disposizioni degli articoli 1989, 1990 e 1991 del codice
        civile.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. I concorsi e le operazioni a premio
        hanno durata non superiore, rispettivamente, a uno e a cinque anni dalla data di inizio degli stessi. Nel
        periodo di durata dei concorsi e delle operazioni a premio sono compresi, rispettivamente, le fasi relative
        all'individuazione dei vincitori e il termine ultimo per richiedere il premio. I premi messi in palio sono
        consegnati agli aventi diritto entro il termine di sei mesi dalla conclusione della manifestazione o dalla data
        di richiesta dei premi stessi. Se il regolamento della manifestazione prevede termini di consegna inferiori a
        sei mesi, in caso di ritardo è data comunicazione agli interessati, mediante lettera raccomandata, dei motivi
        ostativi al sollecito adempimento dell'obbligazione.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. I concorsi e le operazioni a premio
        possono essere svolti a favore dei consumatori finali o di altri soggetti quali i rivenditori, gli intermediari,
        i concessionari, i collaboratori e i lavoratori dipendenti.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">5. La partecipazione ai concorsi e alle
        operazioni a premio è gratuita, salvo le ordinarie spese di spedizione o telefoniche necessarie ai fini della
        partecipazione stessa. È vietata la diretta maggiorazione del prezzo del prodotto o servizio
        promozionato.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">6. Le attività relative allo svolgimento
        delle manifestazioni a premio sono effettuate nel territorio dello Stato ad eccezione delle attività connesse al
        confezionamento dei prodotti realizzate al di fuori del detto territorio.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.2 Concorsi a premio</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Sono considerati concorsi a premio le
        manifestazioni pubblicitarie in cui l'attribuzione dei premi offerti, ad uno o più partecipanti ovvero a terzi,
        anche senza alcuna condizione di acquisto o vendita di prodotti o servizi, dipende:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) dalla sorte, sia che l'estrazione dei
        vincitori sia organizzata appositamente, sia che si faccia riferimento ad altra estrazione o ad altra
        designazione che dipende comunque dalla sorte;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) da qualsiasi congegno, macchina od
        altro, le cui caratteristiche consentano di affidare unicamente all'alea la designazione del vincitore o dei
        vincitori dei premi promessi;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">c) dall'abilità o dalla capacità dei
        concorrenti chiamati ad esprimere giudizi o pronostici relativi a determinate manifestazioni sportive,
        letterarie, culturali in genere o a rispondere a quesiti o ad eseguire lavori la cui valutazione è riservata a
        terze persone o a speciali commissioni;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">d) dall'abilità o dalla capacità dei
        concorrenti di adempiere per primi alle condizioni stabilite dal regolamento, purché le modalità
        dell'assegnazione dei premi siano oggettivamente riscontrabili e i concorrenti che non risultino vincitori
        possano partecipare all'assegnazione di ulteriori premi.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.3 Operazioni a premio</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Sono considerate operazioni a premio,
        anche se il destinatario del premio è un soggetto diverso dall'acquirente il prodotto o servizio promozionato,
        le manifestazioni pubblicitarie che prevedono:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) le offerte di premi a tutti coloro che
        acquistano o vendono un determinato quantitativo di prodotti o di servizi e ne offrono la documentazione
        raccogliendo e consegnando un certo numero di prove documentali di acquisto, anche su supporto
        magnetico;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) le offerte di un regalo a tutti coloro
        che acquistano o vendono un determinato prodotto o servizio.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Sono considerate operazioni a premio
        anche quelle nelle quali, all'acquirente di uno o più prodotti o servizi promozionati, viene offerta in premio
        la possibilità di ottenere, dietro presentazione di un numero predeterminato di prove di acquisto e mediante un
        contributo di spesa, un diverso prodotto o servizio a prezzo scontato. Il contributo richiesto non deve essere
        superiore al 75 per cento del costo del prodotto o servizio, sostenuto dalla ditta promotrice, al netto
        dell'imposta sul valore aggiunto. Il premio consiste nello sconto di prezzo rappresentato dalla differenza tra
        il valore normale del bene offerto e il contributo richiesto.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.4 Premi</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. I premi messi in palio consistono in
        beni, servizi, sconti di prezzo e documenti di legittimazione di cui all'articolo 2002 del codice civile,
        suscettibili di valutazione economica, assoggettati all'imposta sul valore aggiunto o alla relativa imposta
        sostitutiva, escluso il denaro, i titoli dei prestiti pubblici e privati, i titoli azionari, le quote di
        capitale societario e dei fondi comuni di investimento e le polizze di assicurazione sulla vita. I premi,
        inoltre, sono costituiti anche da giocate del lotto o da biglietti delle lotterie nazionali.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. I soggetti promotori di manifestazioni i
        cui premi sono costituiti da giocate del lotto effettuano le giocate stesse presso le ricevitorie del lotto e
        consegnano direttamente le bollette ai promissari. I soggetti stessi possono, altresì, offrire in premio il
        rimborso, totale o parziale, delle giocate del lotto già effettuate e non risultate vincenti.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. Se i premi sono costituiti da biglietti
        delle lotterie nazionali gestite dallo Stato, i soggetti promotori offrono i biglietti interi ai promissari, non
        essendo consentito di frazionare il prezzo dei biglietti stessi. L'assegnazione dei biglietti interi può essere
        effettuata anche mediante estrazione a sorte o con altri sistemi analoghi.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.5 Soggetti promotori delle manifestazioni a
        premio</span><span style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. I concorsi e le operazioni a premio sono
        effettuati soltanto da imprese produttrici o commerciali fornitrici o distributrici dei beni o dei servizi
        promozionati e dalle organizzazioni rappresentative dell'associazionismo economico tra imprese costituite sotto
        forma di consorzi e di società anche cooperative.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. I concorsi e le operazioni a premio sono
        effettuati anche da imprese non residenti nel territorio nazionale, per il tramite di un rappresentante
        residente nel territorio dello Stato, nominato con le modalità e gli effetti di cui all'articolo 17 del decreto
        del Presidente della Repubblica 26 ottobre 1972, n. 633.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. I soggetti promotori possono delegare
        agenzie di promozione od operatori professionali a rappresentarli in tutti gli adempimenti relativi alle
        manifestazioni, compresa la domiciliazione e la conservazione di tutta la documentazione nel territorio dello
        Stato, nonché a prestare la cauzione di cui all'articolo 7.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. In caso di manifestazione effettuata da
        due o più soggetti, gli stessi sono responsabili in solido per le obbligazioni assunte nei confronti dei
        promissari e per il pagamento delle sanzioni dovute. La responsabilità solidale non si estende ai rivenditori
        dei prodotti o dei servizi promozionati che non hanno concorso all'organizzazione della
        manifestazione.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.6 Esclusioni</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Non si considerano concorsi e operazioni
        a premio:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) i concorsi indetti per la produzione di
        opere letterarie, artistiche o scientifiche, nonché per la presentazione di progetti o studi in ambito
        commerciale o industriale, nei quali il conferimento del premio all'autore dell'opera prescelta ha carattere di
        corrispettivo di prestazione d'opera o rappresenta il riconoscimento del merito personale o un titolo
        d'incoraggiamento nell'interesse della collettività;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) le manifestazioni nelle quali è prevista
        l'assegnazione di premi da parte di emittenti radiotelevisive a spettatori presenti esclusivamente nei luoghi
        ove si svolgono le manifestazioni stesse, sempreché l'iniziativa non sia svolta per promozionare prodotti o
        servizi di altre imprese; per le emittenti radiofoniche si considerano presenti alle manifestazioni anche gli
        ascoltatori che intervengono alle stesse attraverso collegamento radiofonico, ovvero qualsivoglia altro
        collegamento a distanza (1) ;</span><br /><span
        style="    background-color:#ffffff">c) le operazioni a premio con offerta di
        premi o regali costituiti da sconti sul prezzo dei prodotti e dei servizi dello stesso genere di quelli
        acquistati o da sconti su un prodotto o servizio di genere diverso rispetto a quello acquistato, a condizione
        che gli sconti non siano offerti al fine di promozionare quest'ultimo, o da quantità aggiuntive di prodotti
        dello stesso genere;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">d) le manifestazioni nelle quali i premi
        sono costituiti da oggetti di minimo valore, sempreché la corresponsione di essi non dipenda in alcun modo dalla
        natura o dall'entità delle vendite alle quali le offerte stesse sono collegate;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">e) le manifestazioni nelle quali i premi
        sono destinati a favore di enti od istituzioni di carattere pubblico o che abbiano finalità eminentemente
        sociali o benefiche.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">(1) Lettera così modificata dall'articolo 7
        della legge 3 maggio 2004, n. 112.</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.7 Cauzione</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Al fine di garantire l'effettiva
        corresponsione dei premi promessi, i soggetti che intendono svolgere una manifestazione a premio prestano
        cauzione in misura pari:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) in caso di concorsi, al valore
        complessivo dei premi promessi determinato ai fini dell'imposta sul valore aggiunto o della relativa imposta
        sostitutiva o sulla base del prezzo dei biglietti delle lotterie nazionali e delle giocate del
        lotto;</span><span style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) in caso di operazioni, al 20 per cento
        del valore complessivo dei premi di cui alla lettera a); la cauzione non è dovuta qualora il premio sia
        corrisposto all'atto dell'acquisto del prodotto o del servizio promozionato.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Nei casi in cui non sia possibile
        stabilire sin dall'origine il valore complessivo dei premi da assegnare, lo stesso è determinato in via
        presuntiva sulla base dei risultati di analoghe manifestazioni effettuate in precedenza e della stima delle
        vendite attese dei beni o dei servizi promozionati e delle adesioni dei promissari calcolate in base a criteri
        statistici. La cauzione prestata va adeguata qualora, in base all'andamento della manifestazione, l'importo
        originario si riveli non sufficiente a garantire la corresponsione dei premi.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. La cauzione è prestata a favore del
        Ministero delle attività produttive ed ha scadenza non inferiore ad un anno dalla conclusione della
        manifestazione. La cauzione è prestata mediante deposito in denaro o in titoli di Stato o garantiti dallo Stato,
        al valore di borsa, presso la tesoreria provinciale ovvero mediante fidejussione bancaria o assicurativa in
        bollo con autentica della firma del fideiussore. Se entro il detto termine di scadenza non è richiesto dal
        Ministero delle attività produttive l'incameramento della cauzione, la stessa si intende svincolata. Per i
        concorsi a premio la cauzione si intende svincolata, anche prima del termine di scadenza, trascorsi centottanta
        giorni dalla data di trasmissione al Ministero delle attività produttive del processo verbale di chiusura della
        manifestazione, di cui all'articolo 9.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. Il Ministero delle attività produttive
        dispone l'incameramento della cauzione qualora:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) in caso di concorsi, dal verbale redatto
        dal notaio o dal funzionario di cui all'articolo 9, risultino commesse violazioni relative alla consegna dei
        premi;</span><span style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) in caso di operazioni, accerti,
        d'ufficio o a seguito di denuncia presentata dai partecipanti, la mancata corresponsione dei premi
        promessi.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.8 Manifestazioni vietate</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Non è consentito lo svolgimento di
        manifestazioni a premio, quando:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) il congegno dei concorsi e delle
        operazioni a premio non garantisce la pubblica fede e la parità di trattamento e di opportunità per tutti i
        partecipanti, in quanto consente al soggetto promotore o a terzi di influenzare l'individuazione dei vincitori
        oppure rende illusoria la partecipazione alla manifestazione stessa;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) vi è elusione del monopolio statale dei
        giochi e delle scommesse per la mancanza di reali scopi promozionali, in quanto il prezzo richiesto è superiore
        al valore commerciale del bene il cui acquisto costituisce il presupposto per la partecipazione alla
        manifestazione a premio;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">c) vi è turbamento della concorrenza e del
        mercato in relazione ai principi comunitari;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">d) vi è lo scopo di favorire la conoscenza
        o la vendita di prodotti per i quali sono previsti, da disposizioni legislative, divieti alla pubblicità o altre
        forme di comunicazione commerciale. Per i beni e servizi la cui pubblicità è vincolata, da disposizioni
        legislative, ad autorizzazioni o comunicazioni preventive, le manifestazioni a premio sono svolte solo dopo aver
        ottenuto il provvedimento di autorizzazione ovvero sono state effettuate le comunicazioni
        preventive;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">e) vi sono violazioni delle disposizioni
        contenute nel presente regolamento, tranne quelle di cui all'articolo 10, comma 1.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. In caso di svolgimento di manifestazioni
        a premio vietate ai sensi del comma 1, si applicano le sanzioni di cui all'articolo 124, comma 1, del regio
        decreto-legge 19 ottobre 1938, n. 1933, convertito, con modificazioni, dalla legge 5 giugno 1939, n. 973, come
        sostituito dall'articolo 19, comma 5, lettera c), della legge 27 dicembre 1997, n. 449. Per le violazioni delle
        disposizioni di cui all'articolo 10, commi 1 e 2, si applicano le sanzioni previste dall'articolo 124, commi 2 e
        3, del citato regio decreto-legge n. 1933 del 1938.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.9 Individuazione dei vincitori dei concorsi a
        premio</span><span style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Nei concorsi a premio ogni fase
        dell'assegnazione dei premi è effettuata, con relativo onere a carico dei soggetti promotori, alla presenza di
        un notaio o del responsabile della tutela del consumatore e della fede pubblica competente per territorio di cui
        all'articolo 20, comma 2, del decreto legislativo 31 marzo 1998, n. 112, o di un suo delegato; se il congegno
        utilizzato per l'assegnazione dei premi richiede particolari conoscenze tecniche, il notaio o il pubblico
        ufficiale è affiancato da un esperto che rende apposita perizia.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. In caso di inserimento di tagliandi o
        altri elementi vincenti tra quelli non vincenti, i soggetti promotori rendono una dichiarazione sostitutiva di
        atto notorio, ai sensi del decreto del Presidente della Repubblica 28 dicembre 2000, n. 445, attestando che la
        detta operazione è effettuata in conformità a quanto previsto nel regolamento del concorso.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. Il notaio o il funzionario verifica la
        prestazione della cauzione e attesta l'autenticità delle firme apposte sulle dichiarazioni dei soggetti delegati
        a rappresentare le ditte promotrici, relative all'effettiva consegna dei premi ai vincitori e alla eventuale
        devoluzione degli stessi alle organizzazioni non lucrative di utilità sociale di cui all'articolo 10 del decreto
        legislativo 4 dicembre 1997, n. 460.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. Il notaio o il responsabile della tutela
        del consumatore e della fede pubblica redige processo verbale delle operazioni di cui ai commi 1, 2 e 3; detto
        processo verbale, compilato secondo lo schema tipo predisposto dal Ministero delle attività produttive, è
        trasmesso allo stesso Ministero.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.10 Adempimenti dei promotori</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. I soggetti che intendono svolgere un
        concorso a premio ne danno comunicazione, prima dell'inizio, al Ministero delle attività produttive mediante
        compilazione e trasmissione di apposito modulo, dallo stesso predisposto, fornendo altresì il regolamento del
        concorso nonché la documentazione comprovante l'avvenuto versamento della cauzione. Se il concorso è effettuato
        da due o più soggetti, la comunicazione è presentata da uno solo di essi o da uno dei soggetti di cui
        all'articolo 5, comma 3.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Eventuali modifiche al regolamento dei
        concorsi sono notificate al Ministero delle attività produttive con le stesse modalità della comunicazione del
        regolamento medesimo. È vietato pubblicizzare e svolgere concorsi a premio in difformità dal regolamento, e sue
        eventuali modifiche, depositato presso il Ministero delle attività produttive.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. I soggetti che intendono svolgere una
        operazione a premio redigono un apposito regolamento, autocertificato con dichiarazione sostitutiva di atto
        notorio resa dal rappresentante legale della ditta promotrice, che è conservato presso la sede di quest'ultima
        per tutta la durata della manifestazione e per i dodici mesi successivi alla sua conclusione. Le stesse modalità
        sono osservate in caso di eventuali modifiche al regolamento.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. In caso di concorsi e operazioni a
        premio, la promessa resa nota al pubblico può essere modificata se le modifiche non ledono i diritti acquisiti
        dai promissari e sono portate a conoscenza degli interessati con le stesse modalità della promessa originaria o
        in forme equivalenti.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">5. Nei concorsi a premio, i premi non
        richiesti o non assegnati, diversi da quelli rifiutati, sono devoluti a organizzazioni non lucrative di utilità
        sociale di cui all'articolo 10 del decreto legislativo 4 dicembre 1997, n. 460.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.11 Regolamento delle manifestazioni a premio e
        materiale pubblicitario</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Il regolamento delle operazioni e dei
        concorsi a premio è messo a disposizione del consumatore per una corretta informazione. Esso contiene
        l'indicazione del soggetto o dei soggetti promotori, della durata, dell'ambito territoriale, delle modalità di
        svolgimento della manifestazione, della natura e del valore indicativo dei singoli premi messi in palio, del
        termine della consegna degli stessi, nonché delle organizzazioni non lucrative di utilità sociale di cui
        all'articolo 10, comma 5, alle quali devolvere i premi non richiesti o non assegnati, diversi da quelli
        rifiutati.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Il materiale promozionale o informativo
        della manifestazione, se non contiene o non è accompagnato dal regolamento della manifestazione, riporta almeno
        le condizioni di partecipazione, la durata della manifestazione nonché, per i concorsi a premio, il valore
        complessivo dei premi messi in palio.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. Sono consentiti messaggi pubblicitari
        che, in relazione alle diverse caratteristiche dei mezzi audiovisivi e degli spazi utilizzati, non contengono
        tutte le indicazioni richieste, fatto salvo l'obbligo di rinvio specifico al regolamento, con indicazione delle
        modalità di acquisizione o di consultazione dello stesso da parte dei promissari.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.12 Controllo delle manifestazioni a
        premio</span><span style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Il Ministero delle attività produttive
        esercita l'attività di controllo sui concorsi e sulle operazioni a premio. Tale attività è svolta d'ufficio a
        campione, ovvero su segnalazione di soggetti interessati.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Fermo restando quanto previsto in
        materia di sanzioni dall'articolo 124 del regio decreto-legge 19 ottobre 1938, n. 1933, convertito, con
        modificazioni, dalla legge 5 giugno 1939, n. 973, e modificato dalla legge 27 dicembre 1997, n. 449, se vengono
        segnalate o individuate manifestazioni in corso che si presumono in sede istruttoria vietate ai sensi
        dell'articolo 8, il Ministero delle attività produttive assegna al soggetto promotore quindici giorni di tempo
        per presentare le proprie controdeduzioni. Entro sessanta giorni dalla predetta richiesta il Ministero, se
        ravvisa la sussistenza di una o più violazioni, adotta, con decreto motivato, un provvedimento di immediata
        cessazione della manifestazione.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">TITOLO</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><span
        style="  font-weight:bold; color:#3b3b3b">II MANIFESTAZIONI DI SORTE LOCALI</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.13 Ambito applicativo</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. È vietata ogni sorta di lotteria,
        tombola, riffa e pesca o banco di beneficenza, nonché ogni altra manifestazione avente analoghe caratteristiche.
        Ferma restando la vigente disciplina in materia di lotterie nazionali, sono, tuttavia, consentite:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) le lotterie, le tombole e le pesche o
        banchi di beneficenza, promossi da enti morali, associazioni e comitati senza fini di lucro, aventi scopi
        assistenziali, culturali, ricreativi e sportivi disciplinati dagli articoli 14 e seguenti del codice civile, e
        dalle organizzazioni non lucrative di utilità sociale di cui all'articolo 10, del decreto legislativo 4 dicembre
        1997, n. 460, se dette manifestazioni sono necessarie per far fronte alle esigenze finanziarie degli enti
        stessi;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) le lotterie, le tombole e le pesche o
        banchi di beneficenza, organizzate dai partiti o movimenti politici di cui alla legge 2 gennaio 1997, n. 2,
        purché svolte nell'ambito di manifestazioni locali organizzate dagli stessi. In caso di svolgimento al di fuori
        delle dette manifestazioni locali si applicano le disposizioni previste per i soggetti di cui alla lettera
        a);</span><span style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">c) le tombole effettuate in ambito
        familiare e privato, organizzate per fini prettamente ludici.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Ai fini della disposizione di cui alla
        lettera a) del comma 1:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) per lotterie s'intende la manifestazione
        di sorte effettuata con la vendita di biglietti staccati da registri a matrice, concorrenti ad uno o più premi
        secondo l'ordine di estrazione. La lotteria è consentita se la vendita dei biglietti è limitata al territorio
        della provincia, l'importo complessivo dei biglietti che possono emettersi, comunque sia frazionato il prezzo
        degli stessi, non supera la somma di lire 100.000.000, pari ad euro 51.645,69, e i biglietti sono contrassegnati
        da serie e numerazione progressive;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) per tombola s'intende la manifestazione
        di sorte effettuata con l'utilizzo di cartelle portanti una data quantità di numeri, dal numero 1 al 90, con
        premi assegnati alle cartelle nelle quali, all'estrazione dei numeri, per prime si sono verificate le
        combinazioni stabilite. La tombola è consentita se la vendita delle cartelle è limitata al comune in cui la
        tombola si estrae e ai comuni limitrofi e le cartelle sono contrassegnate da serie e numerazione progressiva.
        Non è limitato il numero delle cartelle che si possono emettere per ogni tombola, ma i premi posti in palio non
        devono superare, complessivamente, la somma di lire 25.000.000, pari ad euro 12.911,42;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">c) per pesche o banchi di beneficenza
        s'intendono le manifestazioni di sorte effettuate con vendita di biglietti, le quali, per la loro
        organizzazione, non si prestano per la emissione dei biglietti a matrice, una parte dei quali è abbinata ai
        premi in palio. Le pesche o i banchi di beneficenza sono consentiti se la vendita dei biglietti è limitata al
        territorio del comune ove si effettua la manifestazione e il ricavato di essa non eccede la somma di lire
        100.000.000, pari ad euro 51.645,69.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. È vietata la vendita dei biglietti e
        delle cartelle a mezzo di ruote della fortuna o con altri sistemi analoghi. I premi delle manifestazioni di cui
        alle lettere a) e c) del comma 2, consistono solo in servizi e in beni mobili, esclusi il denaro, i titoli
        pubblici e privati, i valori bancari, le carte di credito ed i metalli preziosi in verghe.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.14 Adempimenti dei promotori e
        controlli</span><span style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. I rappresentanti legali degli enti
        organizzatori delle manifestazioni ne danno comunicazione, almeno trenta giorni prima, al Prefetto competente e
        al Sindaco del comune in cui è effettuata l'estrazione. Eventuali variazioni delle modalità di svolgimento della
        manifestazione sono comunicate ai predetti organi in tempo utile per consentire l'effettuazione dei
        controlli.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Alla comunicazione di cui al comma 1, va
        allegata la seguente documentazione:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) per le lotterie, il regolamento nel
        quale sono indicati la quantità e la natura dei premi, la quantità ed il prezzo dei biglietti da vendere, il
        luogo in cui vengono esposti i premi, il luogo ed il tempo fissati per l'estrazione e la consegna dei premi ai
        vincitori;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) per le tombole:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1) il regolamento con la specificazione dei
        premi e con l'indicazione del prezzo di ciascuna cartella;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2) la documentazione comprovante l'avvenuto
        versamento della cauzione in misura pari al valore complessivo dei premi promessi, determinato in base al loro
        prezzo di acquisto o in mancanza al valore normale degli stessi. La cauzione è prestata a favore del comune nel
        cui territorio la tombola si estrae ed ha scadenza non inferiore a tre mesi dalla data di estrazione. La
        cauzione è prestata mediante deposito in denaro o in titoli di Stato o garantiti dallo Stato, al valore di
        borsa, presso la Tesoreria provinciale o mediante fidejussione bancaria o assicurativa in bollo con autentica
        della firma del </span><span
        style="    background-color:#ffffff">fidejussore</span><span
        style="    background-color:#ffffff">.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. Per le pesche o banchi di beneficenza
        l'ente organizzatore indica nella comunicazione di cui al comma 1 il numero dei biglietti che intende emettere
        ed il relativo prezzo.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">4. Il Prefetto vieta lo svolgimento delle
        manifestazioni in mancanza:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) delle condizioni previste dal presente
        regolamento;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) della necessità di ricorrere allo
        svolgimento della manifestazione per far fronte alle esigenze finanziarie dell'ente promotore, diverso dai
        partiti e movimenti politici di cui alla legge 2 gennaio 1997, n. 2.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">5. I comuni effettuano il controllo sul
        regolare svolgimento delle manifestazioni di sorte locali e sono l'autorità competente a ricevere il rapporto e
        a cui pervengono i proventi delle sanzioni. Alle manifestazioni di sorte locali si applicano le sanzioni di cui
        al regio decreto-legge 19 ottobre 1938, n. 1933, convertito, con modificazioni, dalla legge 5 giugno 1939, n.
        973, da ultimo modificato dall'articolo 19, comma 5, lettera a), della legge 27 dicembre 1997, n.
        449.</span><span style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">6. La serie e la numerazione progressiva
        dei biglietti e delle cartelle è indicata nella fattura di acquisto rilasciata dallo stampatore.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">7. L'estrazione della lotteria e della
        tombola è pubblica; le modalità della stessa sono portate a conoscenza del pubblico presso tutti i comuni
        interessati alla manifestazione. Nell'avviso sono indicati gli estremi della comunicazione fatta ai predetti
        organi, il programma della lotteria e della tombola, le finalità che ne motivano lo svolgimento nonché la serie
        e la numerazione dei biglietti e delle cartelle messe in vendita.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">8. Per le lotterie e per le tombole un
        rappresentante dell'ente organizzatore provvede prima dell'estrazione a ritirare tutti i registri, nonché i
        biglietti o le cartelle rimaste invendute e verifica che la serie e la numerazione dei registri corrispondano a
        quelle indicate nelle fatture d'acquisto. I biglietti e le cartelle non riconsegnati sono dichiarati nulli agli
        effetti del gioco; di tale circostanza si dà atto al pubblico prima dell'estrazione. L'estrazione è effettuata
        alla presenza di un incaricato del Sindaco. Di dette operazioni è redatto processo verbale del quale una copia è
        inviata al Prefetto ed un'altra consegnata all'incaricato del Sindaco.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">9. Per le pesche o banchi di beneficenza un
        responsabile dell'ente promotore controlla il numero dei biglietti venduti e procede, alla presenza di un
        incaricato del Sindaco, alla chiusura delle operazioni redigendo il relativo processo verbale del quale una
        copia è inviata al Prefetto e un'altra consegnata all'incaricato del Sindaco.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">10. Per le tombole, entro trenta giorni
        dall'estrazione, l'ente organizzatore presenta all'incaricato del sindaco la documentazione attestante
        l'avvenuta consegna dei premi ai vincitori. Detto incaricato, verificata la regolarità della documentazione
        prodotta, dispone l'immediato svincolo della cauzione. Il comune dispone l'incameramento della cauzione in caso
        di mancata consegna dei premi ai vincitori nel termine di cui al presente comma.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">11. Le disposizioni del presente articolo,
        ad eccezione di quelle di cui ai commi 4 e 5, si applicano con riferimento alle manifestazioni di cui
        all'articolo 13, comma 1, lettera a).</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">TITOLO</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><span
        style="  font-weight:bold; color:#3b3b3b">III DISPOSIZIONI FINALI E TRANSITORIE</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.15 Adeguamento delle strutture organizzative e
        delle dotazioni organiche del Ministero delle attività produttive</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Per l'esercizio delle funzioni
        attribuite dal presente regolamento al Ministero delle attività produttive, le dotazioni organiche dello stesso
        sono adeguate in sede di rideterminazione periodica ai sensi dell'articolo 17, comma 4-bis, della legge 23
        agosto 1988, n. 400, e successive modificazioni, a valere sulle risorse finanziarie utilizzate dall'Agenzia
        delle entrate per l'esercizio delle funzioni trasferite. Alla copertura delle vacanze derivanti da tale aumento
        di dotazione organica si provvede prioritariamente attraverso mobilità volontaria del personale che svolge
        presso l'Agenzia delle entrate le funzioni oggetto di trasferimento.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Fino alla completa attuazione del comma
        1, la Direzione generale per l'armonizzazione e la tutela del mercato del Ministero delle attività produttive,
        si avvale di un contingente fino a quaranta unità di personale in posizione di comando ai sensi dell'articolo
        17, comma 14, della legge 15 maggio 1997, n. 127, da individuare, con precedenza assoluta, tra quello già
        utilizzato dall'Agenzia delle entrate per l'esercizio della funzione trasferita.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">3. Ai medesimi fini di cui al comma 1 ed
        anche in relazione alle disposizioni di cui all'articolo 29, comma 2, del decreto legislativo 30 luglio 1999, n.
        300, ed all'articolo 20, comma 2, del decreto legislativo 31 marzo 1998, n. 112, il Ministero delle attività
        produttive può concludere accordi con l'Unioncamere per stabilire un rapporto di collaborazione con le Camere di
        commercio.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.16 Abrogazioni</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Con effetto dalla data di entrata in
        vigore del presente regolamento, si intendono abrogati ai sensi dell'articolo 17, comma 2, della legge 23 agosto
        1988, n. 400:</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">a) l'articolo 39 del regio decreto-legge 19
        ottobre 1938, n. 1933, convertito, con modificazioni, dalla legge 5 giugno 1939, n. 973, come sostituito
        dall'articolo 1 del decreto legislativo 27 giugno 1946, n. 122; gli articoli 40, 42, 43, 44, 46, 50, primo
        comma, 51, 54, 56, primo comma, 57, 58, 59 e 61 del citato regio decreto-legge n. 1933 del 1938; l'articolo
        42-bis del citato regio decreto-legge n. 1933 del 1938, introdotto dalla legge 15 luglio 1950, n. 585; gli
        articoli 53, 55, 60 e 62 del citato regio decreto-legge n. 1933 del 1938;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">b) l'articolo 7, commi 1 e 4, terzo
        periodo, del decreto-legge 30 settembre 1989, n. 332, convertito, con modificazioni, dalla legge 27 novembre
        1989, n. 384;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">c) l'articolo 15 della legge 2 agosto 1982,
        n. 528;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">d) l'articolo 8 della legge 26 marzo 1990,
        n. 62;</span><span style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">e) gli articoli da 78 a 145 del regolamento
        dei servizi del lotto, approvato con regio decreto 25 luglio 1940, n. 1077;</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">f) ogni altra disposizione incompatibile
        con quelle recate dal presente regolamento.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. I riferimenti alle disposizioni indicate
        nel comma 1, contenuti in ogni altro atto normativo, si intendono fatti agli articoli da 1 a 14 del presente
        regolamento.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.17 Regime transitorio</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Le disposizioni del presente
        regolamento, non si applicano ai concorsi e alle operazioni a premio, nonché alle manifestazioni di sorte locali
        la cui domanda di autorizzazione è presentata entro la data di entrata in vigore del presente
        regolamento.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><br /><span
        style="  font-weight:bold; color:#3b3b3b">Art.18 Entrata in vigore</span><span
        style="  font-weight:bold; color:#3b3b3b">&#xa0;</span><br /><span
        style="    background-color:#ffffff">1. Il presente regolamento, escluse le
        disposizioni di cui all'articolo 15, entra in vigore il centoventesimo giorno successivo a quello della sua
        pubblicazione nella Gazzetta Ufficiale della Repubblica italiana.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">2. Le disposizioni di cui all'articolo 15
        del presente regolamento entrano in vigore il giorno successivo a quello della sua pubblicazione nella Gazzetta
        Ufficiale della Repubblica italiana.</span><span
        style="    background-color:#ffffff">&#xa0;</span><br /><span
        style="    background-color:#ffffff">Il presente decreto munito </span><span
        style="    background-color:#ffffff">dei</span><span
        style="    background-color:#ffffff"> sigillo dello Stato, sarà inserito nella
        Raccolta ufficiale degli atti normativi della Repubblica italiana. È fatto obbligo a chiunque spetti di
        osservarlo e di farlo osservare.</span><span
        style="    background-color:#ffffff">&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >I </span><span
         >c.d</span><span  > “eventi” si svolgeranno in maniera non
        sistematica ma occasionale, avranno una durata massima di 36 ore come indicato dal timer e potranno scadere in
        anticipo nel caso in cui venga raggiunto un numero massimo prestabilito di utenti iscritti in quello specifico
        evento tale da rendere più alte le probabilità di vincita.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >I premi/buoni sconto
        potranno essere utilizzati entro e non oltre 5 mesi dall’effettiva consegna.</span><span
        style="  color:#ff0000"> </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >In ossequio al
        principio di territorialità, le manifestazioni sono svolte nel territorio italiano e nella Repubblica di San
        Marino.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Potranno partecipare
        al concorso tutti gli iscritti nel sito web dhesìo.com ad eccetto di:</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >-pagine Instagram non
        rappresentanti persone fisiche (es. fantacalcio.it). </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >-persone con profili
        Instagram che non rappresentano persone reali (es. Superman). </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >-profili che non
        permettano il regolare riconoscimento della persona (es. edoardo.234 con 0 follower 0 seguiti).</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Sono considerati
        essenziali ai fini della partecipazione al concorso le seguenti condizioni:</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >1)Essere iscritti nel
        sito web dhesìo.com </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >2)Cliccare sul tasto
        partecipa.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
        style="  color:#ff0000">&#xa0;</span><span  >Il premio potrà essere
        o prodotto fisico/buono acquisto inerente al settore abbigliamento (dal valore compreso tra 24-100) o buono
        sconto.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >I vincitori non
        potranno contestare il premio assegnato, né richiedere il valore corrispondente in denaro.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Per partecipare
        all’evento in questione il partecipante dovrà effettuare l’iscrizione del sito web dhesìo.com.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Una volta iscritto
        dovrà cliccare sul tasto “partecipa” ed aspettare il termine dell’evento stesso (vedi “DURATA”).</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Ad ogni utente verrà
        concesso un numero prestabilito di possibilità (indicato con il n° in alto a sinistra) che consentirà agli
        stessi di partecipare agli eventi.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Non sarà data la
        possibilità di partecipare con più di 1 possibilità sullo stesso evento, ai fini di mantenere la giusta equità
        di probabilità tra gli utenti.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Tali possibilità non
        sono cumulabili.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >L’estrazione del
        Vincitore verrà annunciato entro 24h della fine del concorso, l’estrazione avverrà in maniera casuale mediante
        l’utilizzo di un apposito software certificato (allegato)</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span><span
         >Il vincitore verrà informato della vincita direttamente sul profilo Instagram in
        Direct entro 5 giorni dall’estrazione.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >La consegna avverrà
        fisicamente in cui data e ora saranno organizzate direttamente tra dhesìo.com e vincitore, nel caso in cui il
        vincitore sia troppo lontano per l’eventuale consegna fisica verrà inviato il premio in un luogo più comodo al
        vincitore (stabilito da lui) entro 1 mese dall’informativa.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >In caso di mancata
        accettazione del premio da parte del vincitore, dovuto dall’ irreperibilità di quest’ultimo (nome Instagram non
        più esistente o perché non risponde ai 3 solleciti in Direct effettuati da </span><span
         >dhesìo</span><span  >, effettuati in 3 giorni diversi a
        distanza di 2 giorni l’uno dall’altro), la vincita dovrà considerarsi decaduta a favore del primo nome di
        riserva utile.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Le riserve previste
        da </span><span  >dhesìo</span><span  > sono 5. Anche le
        riserve dovranno rispettare la procedura di accettazione del premio come sopra specificata. In caso di mancata
        accettazione da parte delle 5 riserve, il premio si considererà come “non richiesto” ai sensi dell’art 11 del
        presente regolamento.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >I premi non richiesti
        o non assegnati saranno devoluti “Parrocchia della Santissima Annunziata” in via di Grotta Perfetta 591 CAP
        00142 RM. </span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Dhesìo</span><span
         > si riserva il diritto di modificare i
        presenti Termini e Condizioni in qualsiasi momento senza preavviso.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Per qualsiasi problema, approfondimento o
        domande sulla chiarezza relativa all’applicazione del D.P.R 430/2001 si prega di notificare inviando una email a
        dhesio.official@gmail.com</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >Dhesìo</span><span
         > si impegnerà a conformarsi ad ogni nuova
        disciplina aggiornata in materia di concorsi a premio e nel rispetto della tutela e privacy dei suoi utenti in
        ossequio al regolamento UE 216/679.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >&#xa0;</span></p>
  </div>
</body>

</html>