<p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt"><span style="  font-weight:bold">Termini e
		Condizioni</span></p>



</p>
<p><br />

</p>
<p>Accettando i Termini e Condizioni e/o registrandosi su Dhesìo, si conferma l’idoneità ad utilizzare Dhesìo. Se non si
	accettano i Termini e condizioni, si prega di non utilizzare Dhesìo e di uscire dalle pagine di www.dhesio.com. In
	caso di accesso e/o utilizzando qualsiasi servizio offerto da Dhesìo, si accetta e si è vincolati dai presenti
	Termini e Condizioni
<p>Ogni utente dichiara e garantisce di avere almeno 16 anni di età o l’età necessaria per poter usufruire dei servizi
	offerti da Dhesìo e impegnarsi quindi in un contratto vincolante, in base alle leggi dello stato di residenza.
<p>Utilizzando Dhesìo, si garantisce di avere diritti, autorità e capacità di accettare questo accordo e di rispettarne
	tutti i Termini e Condizioni.
<p>Ogni account può essere utilizzato solo dall’utente registrante e da nessun altro. Tutte le informazioni fornite,
	devono essere veritiere, complete e corrette, ed è necessario notificare immediatamente a Dhesìo qualsiasi modifica
	di tali informazioni che possa influenzare il servizio e la sua efficacia. È permesso avere un solo account per
	persona; se si tenta di aprire più di un account, quelli in eccesso e anche il principale, potranno essere bloccati
	o chiusi. Nel processo di registrazione si dovrà scegliere il nome utente tik-tok e password per il login su Dhesìo.
<p>È necessario scegliere un nome utente che non deve in alcun modo essere offensivo, indecente, ingannevole o
	fuorviante per gli altri utenti o persone. Né può essere utilizzato per pubblicizzare o promuovere altri siti web o
	servizi, fornire link ad altri utenti. Dhesìo si riserva il diritto di modificare i nomi utente, per qualsiasi
	motivo, ed è l’arbitro di ogni questione in tal senso. Lo Staff di Dhesìo non richiederà mai alcuna password
	all’utente in alcuna forma, se non per effettuare il login su www.dhesio.com. L’utente è l’unico responsabile della
	conservazione e della salvaguardia della password del proprio account. Vi suggeriamo di non fornire la password a
	nessuno, compresi i dipendenti di Dhesìo. Gli account sono trasferibili solo in casi eccezionali ed a
	discrezionalità di Dhesìo. Dhesìo non è responsabile per qualsiasi abuso o uso improprio dell’account da parte di
	terzi a causa della divulgazione, sia intenzionale che accidentale, dei dati di accesso.
<p>Da parte dell’utente: è possibile chiudere il proprio account in qualsiasi momento, inviando notifica della vostra
	intenzione.
<p>Da parte di Dhesìo: Dhesìo si riserva il diritto di sospendere temporaneamente o permanentemente un account a suo
	insindacabile giudizio, se determina che l’utente abbia violato i presenti Termini e Condizioni, qualsiasi legge o i
	diritti dei nostri utenti o di terzi. Esempi di utilizzo non autorizzato includono la creazione di account multipli
	dello stesso utente.
<p>Richieste di risarcimento danni da parte dell’Utente nei confronti di Dhesìo, dei suoi legali rappresentanti,
	dipendenti o soggetti che curano particolari prestazioni non sono ammesse. Ogni utente accetta espressamente che
	l’utilizzo di Dhesìo è a rischio esclusivo dell’utente. Dhesìo non garantisce che alcun risultato possa essere
	ottenuto con l’uso del sito. Dhesìo non può garantire l’accesso continuo al servizio: sebbene indirizzi ogni
	ragionevole sforzo per mantenerlo ininterrotto, non può garantirlo e non offre alcuna promessa o garanzia (esplicita
	o implicita) circa la disponibilità dei servizi. Dhesìo manterrà le recensioni e collaborazioni effettuate
	all’interno del sito(pubblicamente) anche dopo l’eliminazione dell’account in questione, ad eccetto non vi sia
	espressa volontà dell’utente a cancellarla.
<p>Dhesìo si riserva il diritto di modificare i presenti Termini e Condizioni in qualsiasi momento senza preavviso.

	</body>

	</html>