<p style="margin-top:0pt; margin-bottom:0pt;  "><a
        href="file:///C:/2727B0D9/%3E%3Cimg%20src=images/singlepage/logo.png" style="text-decoration:none"></a></p>
        <p style="margin-top:0pt; margin-bottom:0pt; font-size:10pt"><span
            style="  font-weight:bold">PRIVACY POLICY</span></p><br>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >Ai sensi
        del </span><span  >d.lgs</span><span  >
        196/2003 e del regolamento UE 2016/679, recante disposizioni per la tutela delle persone e di altri soggetti
        rispetto al trattamento dei dati personali, </span>www.dhesio.com<span
         > è il titolare del trattamento dei dati personali forniti.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span  >La
        presente
        privacy policy costituisce l'ultima versione pubblicata sul sito web www.dhesio.com ed è destinata agli
        utenti,
        a prescindere dal canale di accesso utilizzato, e si estende a tutti i domini di qualsiasi livello relativi a
        dhesio.com e ad ogni altro dominio nella disponibilità di </span><span
         >dhesìo</span><span  >, e non si
        estende a siti web terzi eventualmente consultati dagli utenti medesimi tramite link. La presente versione
        sarà
        applicata a tutti gli utenti esistenti alla data di pubblicazione nonché ai nuovi utenti che accederanno o si
        registreranno al sito successivamente alla data di pubblicazione della presente previa apposita accettazione.
        Con il presente documento, in linea con le disposizioni del Regolamento UE 2016/679, si rappresentano le
        modalità di raccolta, utilizzazione, trattamento e comunicazione dei dati personali dell'utilizzatore del
        nostro
        sito, intendendosi per “dati personali” qualsiasi informazione che riguardi persone fisiche identificate o che
        possano essere identificate anche attraverso altre informazioni ed indipendentemente dal dispositivo e dal
        canale adoperato (ad esempio, attraverso un numero o un codice identificativo, mediante associazione a
        identificativi online prodotti dai dispositivi, dalle applicazioni, dagli strumenti e dai protocolli
        utilizzati,
        quali gli indirizzi IP, a marcatori temporanei (cookies) o a identificativi di altro tipo).</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">2. Natura dei dati trattati</span><br /><br /><span
         >I dati personali trattati da </span><span
         >Dhesìo</span><span  >
        sono:</span><br /><br /><span  >‣ Nome utente Instagram fornito
        dall'utente;</span><br /><br /><span  >‣ Sesso (maschio/femmina) fornito
        dall’utente;</span><br /><br /><span  >‣ Fascia di età fornita dall’utente
        (&lt;14/14-18/19-25/&gt;25)</span><span  >&#xa0;</span><br /><br /><span
         >‣ dati di log: username e password forniti dall'utente al momento della
        registrazione e le informazioni sui dispositivi utilizzati e sull'indirizzo IP, data e ora di
        accesso;</span><span  >&#xa0;</span><br /><br /><span
         >‣ informazioni sulla localizzazione (attraverso l'indirizzo IP
        dell'utente
        oppure il GPS del dispositivo adoperato)</span><span
         >&#xa0;</span><br /><br /><span  >‣
        informazioni sulle modalità di utilizzo del sito da parte dell'utente (ad esempio sulle pagine ed i contenuti
        visualizzati)</span><span  >&#xa0;</span><br /><br /><span
        >‣ informazioni raccolte tramite i cookie di terze parti
        adoperati dal sito web</span><span  >&#xa0;</span><span
        > </span><span
        ></span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">3. Finalità del trattamento</span><br /><br /><span
         >I dati dell'utente sono raccolti, utilizzati ed archiviati da
      </span><span  >Dhesìo</span><span  >
        esclusivamente
        per finalità direttamente connesse e strumentali all'uso del sito web (ad esempio, ai fini della
        registrazione),
        per consentire a </span><span  >Dhesìo</span><span
         > di migliorare il proprio sito, nonché per l'adempimento degli obblighi
        previsti dalla legge, da un regolamento o dalla normativa comunitaria e per l'esercizio dei propri diritti in
        sede giudiziaria. </span><span  >Dhesìo</span><span
         > garantisce in ogni caso il massimo livello di sicurezza nella gestione
        dei dati medesimi.</span><br /><span  >Si precisa, in particolare, che la
        raccolta, utilizzazione ed archiviazione dei dati ha le seguenti finalità:</span><br /><br /><span
         >‣ consentire l'accesso e l'utilizzo del sito e dei suoi
        servizi;</span><br /><br /><span  >‣ gestire i programmi, i servizi e le
        attività, anche promozionali, rese;</span><br /><br /><span  >‣ fornire
        assistenza agli utenti (sia relativamente ai servizi resi quanto per ogni aggiornamento o avviso, anche di
        sicurezza, relativo all'account ed al sito);</span><br /><br /><span  >‣
        migliorare e ottimizzare le funzionalità del sito, anche attraverso l'analisi statistica dei dati
        raccolti;</span><br /><br /><span  >‣ ragioni di sicurezza e per prevenire
        e
        valutare i rischi connessi al sito web;</span><br /><br /><span  >‣
        rilevare
        e prevenire ogni eventuale abuso relativo ai servizi resi dal sito;</span><br /><br /><span
         >‣ la valutazione e soluzione di eventuali problemi di
        sicurezza;</span><br /><br /><span  >‣</span><span
         >&#xa0;</span><span  > </span><span
         >l'eventuale verifica dei dati forniti
        dall'utente;</span><br /><br /><span  >‣</span><span
         >&#xa0;</span><span  > </span><span
         >l'eventuale
        identificazione dell'utente;</span><br /><br /><span  >‣ la soluzione di
        controversie con gli utenti o nei confronti di terze parti;</span><br /><br /><span
         >‣ per garantire il rispetto e l'applicazione dei Termini del servizio
        ovvero di ogni altra policy adottata dal sito;</span><br /><br /><span  >‣
        al fine dell'eventuale cessione a terze parti, previo consenso espressamente prestato dall'utente a tal fine
        in
        sede di registrazione (ad esempio, per finalità commerciali)</span><br /><br /><span
         >‣ per migliorare i servizi pubblicitari, eventualmente mediante sistemi
        di
        profilazione;</span><br /><br /><span  >‣ per assolvere agli obblighi di
        legge.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">5. Prestazione del consenso e comunicazione dei dati
        dell'utente</span><br /><br /><br /><br /><span  >Con riferimento ai dati
        registrati da </span><span  >Dhesìo</span><span
         >, l'utente potrà esercitare i diritti riconosciuti in suo favore secondo
        quanto sarà precisato nei paragrafi che seguono.</span><br /><br /><span
         >Si fa inoltre presente che:</span><br /><br /><span
         >‣ alcuni dati (quali l’ username) potranno essere condivisi nel sito da
      </span><span  >Dhesìo</span><span  > con
        gli altri utenti, come, ad esempio, all’estrazione del vincitore.</span><br /><br /><span
         >‣ </span><span  >Dhesìo</span><span
         > potrebbe altresì comunicare i dati dell'utente, tra cui i dati
        personali,
        all'Autorità Giudiziaria, all'Autorità Governativa e ad ogni Autorità Pubblica in generale ovvero a terze
        parti
        autorizzate qualora la comunicazione si renda necessaria o nel caso in cui sia a ciò tenuto o autorizzato a
        farlo per legge (ad esempio nell'ambito di un procedimento legale; di indagini penali; per tutelare i diritti
        di
      </span><span  >Dhesìo</span><span  > e/o
        dell'utente medesimo o degli altri utenti).</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">7. Dati sensibili o giudiziari</span><br /><br /><span
         >Dhesìo</span><span  > non raccoglie
        deliberatamente dati sensibili (ossia dati idonei a rivelare l'origine razziale ed etnica, le convinzioni
        religiose, filosofiche o di altro genere, le opinioni politiche, l'adesione a partiti, sindacati, associazioni
        od organizzazioni a carattere religioso, filosofico, politico o sindacale, nonché i dati idonei a rivelare lo
        stato di salute e la vita sessuale) né giudiziari, invitando pertanto l'utente a non fornire tale tipologia di
        dati tramite il presente sito web. Nel caso in cui l'utente fornisca volontariamente, dati considerati
        sensibili
        e/o giudiziari riguardanti l'utente medesimo, </span><span
         >Dhesìo</span><span  > dichiara che
        in
        nessun caso e per nessun motivo farà uso di tali dati, invitando altrimenti l'utente a trasmettere
        all'indirizzo
        dhesio.official@gmail.com un'apposita dichiarazione contenente il consenso al trattamento delle relative
        informazioni.</span><span  >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">8. Misure di sicurezza</span><br /><br /><span
         >Dhesìo</span><span  > dichiara di
        aver
        adottato misure di sicurezza volte a ridurre al minimo i rischi di distruzione o di perdita, anche
        accidentale,
        dei dati raccolti, di accesso non autorizzato o di trattamento non consentito o non conforme alle finalità di
        raccolta indicate nella presente Privacy Policy. Tuttavia </span><span
         >Dhesìo</span><span  > non può
        garantire ai propri utenti che le misure adottate per la sicurezza del sito web e della trasmissione dei dati
        e
        delle informazioni su www.dhesio.com e/o su qualsiasi canale e/o o dominio di proprietà di </span><span
         >Dhesìo</span><span  > escludano
        qualsiasi rischio di accesso non consentito o di dispersione dei dati. Si invita pertanto l'utente ad
        assicurarsi che il proprio computer o dispositivo mobile utilizzato per accedere al suddetto sito web sia
        dotato
        di dispositivi software adeguati per la protezione della trasmissione in rete di dati, sia in entrata sia in
        uscita (come sistemi antivirus aggiornati), e che il fornitore di servizi internet adoperato dall'utente abbia
        adottato misure idonee per la sicurezza della trasmissione di dati in rete (come ad esempio firewalls e filtri
        antispamming). Qualora l'utente abbia ragione di credere che le proprie credenziali di accesso all'account
        siano
        state rubate, sottratte o altrimenti compromesse, o qualora si verifichi un uso sospetto ovvero non
        autorizzato
        dell'Account medesimo, si invita l'utente medesimo a procedere ad immediata segnalazione all'indirizzo e-mail
        dhesio.official@gmail.com.</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
        style="  font-weight:bold">9. Conservazione dei dati
        personali</span><br /><br /><br /><span style="font-family:Calibri; -aw-import:ignore">&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >Il
        trattamento dei dati personali raccolti avrà una durata non superiore a quella necessaria alle finalità per le
        quali i dati sono stati raccolti.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >In
        particolare, </span><span  >Dhesìo</span><span
         > applica i seguenti tempi di conservazione dei dati:</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >-Per
        quanto concerne i dati raccolti per adempiere ad obblighi di natura civilistica, tra cui contenziosi, essi
        saranno conservati per un periodo massimo di dieci anni (10 anni) secondo le prescrizioni dell'articolo 2946 e
        ss. del codice civile;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >-Per
        quanto concerne le finalità di marketing e di profilazione, i dati personali saranno conservati per un periodo
        di tempo non superiore, rispettivamente, a dodici mesi (12 mesi) e a ventiquattro mesi (24 mesi) dalla loro
        registrazione, salva la reale trasformazione in forma anonima che non permetta, anche indirettamente o
        collegando altre banche dati, di identificare gli interessati (cfr. </span><span
         >provv</span><span  >. del Garante
        per
        la protezione dei dati personali del 24 febbraio 2005, doc. web n. 1103045, par.8);</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >-Per
        quanto concerne le finalità di sicurezza, i dati personali saranno conservati per un periodo di tempo non
        superiore a sei mesi (6 mesi) dalla loro registrazione.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span  >Al
        termine dei relativi periodi di conservazione, i dati personali forniti dagli utenti non più necessari, (es.
        nome Instagram, sesso, fascia d’età) saranno cancellati secondo le prescrizioni del Regolamento (UE) n.
        2016/679.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
         >Dhesìo</span><span  >, inoltre,
        applica la disposizione di cui all’art. 17 del Regolamento (UE) n. 2016/679 ai sensi della quale, a fronte di
        una richiesta di cancellazione dei dati, il titolare del trattamento potrà legittimamente continuare a
        trattare
        i dati dell’utente per l’adempimento di obblighi giuridici e per l’accertamento, l’esercizio o la difesa dei
        propri diritti in sede giudiziaria.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">10. Modifica dei dati
        personali</span><br /><br /><span  >Per garantire che i dati personali
        forniti siano sempre esatti ed
        aggiornati, comunque pertinenti e completi, </span><span
         >Dhesìo</span><span  > invita
        l'utente
        a segnalare ogni modifica intervenuta al seguente indirizzo di posta elettronica dhesio.official@gmail.com o,
        comunque, secondo le modalità meglio precisate nell'articolo che segue.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">11. Diritti dell'utente</span><br /><br /><span
         >L'utente ha il diritto di aggiornare o modificare i propri dati in ogni
        momento richiedendo esplicitamente la modifica/aggiornamento all’indirizzo dhesio.official@gmail.com. L'utente
        è
        l'unico responsabile dei dati forniti nonché di ogni modifica e/o integrazione dei medesimi. In ogni caso
      </span><span  >Dhesìo</span><span  > si
        riserva il diritto di verificare l'identità dell'utente e la veridicità dei dati forniti per tutelare i propri
        diritti e/o quelli degli altri utenti, anche al fine di prevenire collusione e/o ogni altra condotta
        illecita.</span><span  >&#xa0;</span><br /><br /><span
         >Spettano altresì all'utente i seguenti diritti garantiti da </span><span
         >Dhesìo</span><span
         >:</span><br /><br /><span  >‣
        l'utente
        può chiedere la correzione di dati personali che risultino imprecisi o incompleti;</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
         >&#xa0;</span><span  >‣ l'utente
        potrà
        altresì chiedere di eliminare le informazioni personali in possesso di </span><span
         >Dhesìo</span><span  > e chiudere il
        proprio Account. In tal caso resta inteso che </span><span
         >Dhesìo</span><span  > potrà
        conservare
        per il tempo strettamente necessario alcuni dati in funzione di esigenze legate, ad esempio, a: (i) assolvere
        eventuali obblighi di legge (in relazione, ad esempio, a procedimenti giudiziari e/o indagini legali); (ii)
        garantire e promuovere la sicurezza del sito anche per l'ipotesi di rilevamento di collusione; (iii)
        l'utilizzo
        di programmi volti a garantire la sicurezza del sito e che potrebbero determinare la conservazione, per un
        periodo di tempo limitato, dei dati medesimi.</span><span
         >&#xa0;</span><br /><br /><span  >‣
        l'utente potrà inoltre richiedere copia dei dati in possesso di </span><span
         >Dhesìo</span><span  > in formato
        digitale.</span><br /><br /><span  >‣ l'utente che abbia prestato il
        consenso al trattamento dei propri dati personali, potrà in qualsiasi momento procedere alla relativa revoca
        inviando una comunicazione all'indirizzo di posta elettronica dhesio.official@gmail.com nella quale sia
        specificamente indicato ogni singolo consenso oggetto di revoca. Resta in ogni caso ferma la legittimità del
        trattamento dei dati effettuato da </span><span  >Dhesìo</span><span
         > anteriormente alla revoca.</span><span
         >&#xa0;</span><br /><br /><span  >‣
        l'utente potrà altresì opporsi al trattamento dei propri dati personali da parte di </span><span
         >Dhesìo</span><span  > per
        determinate
        finalità (ad esempio, per la profilazione) qualora tale trattamento sia basato su un legittimo interesse. In
        tal
        caso i dati personali dell'utente non saranno più trattati da </span><span
         >Dhesìo</span><span  > per le
        predette
        finalità indicate, salva la sussistenza di motivi legittimi per procedere al trattamento oppure se tale
        trattamento si renda necessario per l'accertamento, l'esercizio o la difesa di un diritto in sede
        giudiziaria.</span><br /><br /><span  >‣ è riconosciuto all'utente il
        diritto di limitare le modalità di utilizzo dei propri dati personali da parte di </span><span
         >Dhesìo</span><span  > nel caso di:
        (i)
        contestazione dell'esattezza dei dati; (ii) opposizione alla cancellazione dei dati in quanto si ritiene che
        il
        relativo trattamento non sia stato eseguito in modo legittimo; (iii) in caso di opposizione al trattamento;
        (iv)
        qualora l'utente richieda a </span><span  >Dhesìo</span><span
         > informazioni ai fini dell'accertamento dei propri diritti e/o per la
        relativa tutela in sede giudiziaria.</span><br /><br /><span  >‣ Come già
        precisato, l'utente potrà altresì chiedere a </span><span
         >Dhesìo</span><span  > di cessare il
        trattamento dei propri dati per finalità commerciali inviando una comunicazione all'indirizzo di posta
        elettronica dhesìo.official@gmail.com.</span><br /><br /><span  >‣
        l'utente
        potrà infine presentare reclami afferenti l'attività di trattamento dei dati svolta da </span><span
         >Dhesìo</span><span  > presso
        l'autorità per la protezione dei dati territorialmente competente.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">12. Modifiche e aggiornamenti della presente Privacy
        Policy</span><br /><br /><span  >Dhesìo</span><span
         > potrà modificare e/o aggiornare, in tutto o in parte, la presente
        Privacy
        Policy anche in considerazione dell'eventuale modifica delle norme di legge o di regolamento che disciplinano
        questa materia e proteggono i diritti degli utenti. Le eventuali modifiche e/o aggiornamenti saranno
        notificati
        agli utenti nella home page di dhesio.com non appena adottati e saranno vincolanti non appena pubblicati sul
        sito web in questa stessa sezione. Si invita pertanto l'utente ad accedere con regolarità alla presente
        sezione
        per verificare la pubblicazione della più recente ed aggiornata Privacy Policy di dhesio.com.</span></p>
    <p style="margin-top:0pt; margin-bottom:7.5pt;  "><span
        style="  font-weight:bold">13. Trasferimento dei dati personali verso Paesi
        Terzi</span><br /><br /><span  >Dhesìo</span><span
         > non effettua trasferimenti di dati personali in Paesi non appartenenti
        allo Spazio Economico Europeo. Qualora decidesse di farlo, </span><span
         >Dhesìo</span><span  > assicurerà il
        rispetto della normativa sulla protezione dei dati personali vigente in conformità a quanto statuito dagli
        articoli 44,45,46,47,48 e 49 del Regolamento UE 2016/679.</span><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span
         >&#xa0;</span></p>
    <p style="margin-top:0pt; margin-bottom:0pt;  "><span style="font-family:Calibri">&#xa0;</span></p>