<%- include('../singlepage/head.ejs') %>
<link rel="stylesheet" href="/css/landingPage.css">

</head>

<body>

  <%- include('topbarLanding.ejs', { iscriviti: false}) %>


  <div class="grid_form_grande blocco_azzurro">
    <div></div>
    <div class=" spazio_sopra_grande spazio_sotto_piccolo">
      <div class="titolo_alto scritte_blu margine spazio_sotto_piccolino">Fai Influencer marketing senza vincoli.</div>
      <div class="scritta_media scritte_blu margine spazio_sotto_piccolino">Inserisci la tua proposta di collaborazione
        nella nostra community di
        Influencer</div>
      <div>
        <%- include('prendiMail.ejs') %>
      </div>
    </div>
    <div></div>
  </div>

  <div class="wrap_img">
    <img src="/images/landing/pischella.jpg" alt="" style="width:100%;">
  </div>

  <div class="grid_doppia_grande">

    <div class="blocco_blu spazio_sopra_grande spazio_sotto_piccolo">
      <div class="margine scritte_bianche">
        <div class="grid_macchina">
          <div class="titolo_alto"><a name="agenzia" class="scritte_bianche" style="font-size:32px">Siamo una start-up,
              non un' agenzia.</a>
          </div>
          <div><img src="/images/landing/ferrari.png" alt="macchina da corsa" style="width:100%"></div>
          <div></div>
        </div>
        <div class="scritta_medio_piccola no_agenzia">
          <div class="destra" style="margin-left: 20%;">Sei libero di organizzarti con gli Influencer in modo autonomo
          </div>
          <div style="margin-right: 20%;">Non prendiamo commissioni sulle collaborazioni</div>
          <div class="destra" style="margin-left: 20%;">Non entriamo in merito agli accordi presi tra di voi</div>
        </div>
      </div>
    </div>

    <div class="blocco_azzurro centro spazio_sopra_grande">
      <div class="margine spazio_sotto_piccolo">
        <div class="titolo_alto"><a name="funziona" style="color:#274674">Come funziona?</a></div>
        <div class="no_agenzia">
          <div class="scritta_medio_piccola2">E' più semplice di quanto pensi.</div>
          <div class="cerchio_esterno">
            <div class="cerchio_interno">
              <div class="cerchio_numero">1</div>
            </div>
          </div>
          <div class="scritta_medio_piccola2">Descrivi ciò che vorresti vedere realizzato e da che tipo di Influencer
          </div>
          <div class="cerchio_esterno">
            <div class="cerchio_interno">
              <div class="cerchio_numero">2</div>
            </div>
          </div>
          <div class="scritta_medio_piccola2">Inoltra la tua proposta di collaborazione</div>
        </div>
        <div></div>

      </div>
    </div>

  </div>

  <div class="wrap_img">
    <img src="/images/landing/gente.jpeg" alt="persone che corrono" style="width:100%;">
  </div>

  <div class="blocco_blu spazio_sopra_grande spazio_sotto_piccolo">
    <div class="margine scritte_bianche">
      <div class="centro titolo_alto spazio_sotto_piccolino"><a name="prezzo" class="scritte_bianche ">Pricing</a></div>
      <div class="grid_prezzo_basso_grande">
        <div></div>
        <div class="riquadro_arancione scritta_piccola" style="margin-bottom: 30px">Si. I nostri prezzi al momento sono
          molto bassi. Il motivo è
          perchè siamo in beta. E' un piacere!</div>
          <div></div>
        </div>

        <div class="grid_prezzo_doppia_grande">
          <div></div>
        <div>
          <div class="prezzo spazio_sotto_piccolo_p spazio_sopra_grande_p">
            <div class="titolo_prezzo scritta_media">One Shot</div>
            <div class="grid_prezzo">
              <div>30€</div>
              <div class="scritta_piccola basso_fuori">
                <div class="basso_dentro">Per ogni proposta di collaborazione inserita</div>
              </div>
            </div>
            <div class="scritta_medio_piccola2 obligua">Crea collaborazioni in tempo record</div>
          </div>
          
          <div class="grid_tick scritta_piccola2">
            <div><img src="/images/tick.png" alt="tick"></div>
            <div>Inserimento di 1 proposta </div>
            <div><img src="/images/tick.png" alt="tick"></div>
            <div>Assistenza personalizzata</div>
          </div>
        </div>

        <div></div>
        <div></div>

      <div>
        <div class="scritte_blu blocco_bianco centro spazio_sopra_grande_p">Most popular</div>
        <div class="prezzo spazio_sotto_piccolo_p">
          <div class="titolo_prezzo scritta_media">Unlimited</div>
          <div class="grid_prezzo">
            <div>49,90€</div>
            <div class="scritta_piccola basso_fuori">
              <div class="basso_dentro">al mese</div>
            </div>
          </div>
          <div class="scritta_medio_piccola2 obligua">Fai influencer marketing in tempi record</div>
        </div>
        
        <div class="grid_tick scritta_piccola2">
          <div><img src="/images/tick.png" alt="tick"></div>
          <div>Inserimento illimitato di proposte</div>
          <div><img src="/images/tick.png" alt="tick"></div>
          <div>Assistenza personalizzata</div>
          <div><img src="/images/tick.png" alt="tick"></div>
          <div>Rimborso completo in caso di mancata collaborazione entro il mese</div>
        </div>
      </div>
      <div></div>
    </div>


      <div class="grid_prezzo_basso_grande">
        <div></div>
        <div>
          <div class="prezzo spazio_sotto_piccolo_p spazio_sopra_grande_p">
            <div class="titolo_prezzo scritta_media">IM Expert</div>
            <div class="grid_prezzo">
              <div>199,90€</div>
              <div class="scritta_piccola basso_fuori">
                <div class="basso_dentro">Programma per grandi imprese</div>
              </div>
            </div>
            <div class="scritta_medio_piccola2 obligua">Programma per imprese</div>
          </div>
          <div class="scritta_piccola2">Programma <span class="scritta_medio_piccola2">Unlimited <span
                class="scritta_media" style="font-weight:400">+</span></span></div>

          <div class="grid_tick scritta_piccola2">
            <div><img src="/images/tick.png" alt="tick"></div>
            <div>Inserimento illimitato di proposte</div>
          </div>
        </div>
        <div></div>
      </div>

    </div>
  </div>


  <div class="blocco_azzurro scritte_blu spazio_sopra_grande spazio_sotto_piccolo grid_form_grande">
    <div></div>
    <div class="margine">
      <div class="scritta_medio_piccola spazio_sotto_piccolo" style="font-weight:300">Prova subito ad inserire un
        proposta di collaborazione
        <span style="font-weight: 600;">è gratis.</span></div>

      <%- include('prendiMail.ejs') %>
    </div>
    <div></div>
  </div>

  <div class="blocco_azzurro contatti">
    <div class="margine scritte_blu">
      <div class="spazio_sotto_piccolino" style="font-size:24px">Contatti</div>
      <div><img src="/images/instagram.png" alt="Instagram logo"> dhesioinfluencer</div>
      <div class="spazio_sotto_piccolino" style="margin-bottom:40px"><img src="/images/email.png" alt="Email logo"
          style="width:17px"> collab.dhesio@gmail.com</div>
      <div class="link_fondo" style="margin-bottom:40px">
        <div class="tri_grid">
          <div><a href="#agenzia">Non siamo un'agenzia</a></div>
          <div><a href="#funziona">Come funziona</a></div>
          <div><a href="#prezzo">Pricing</a></div>
        </div>
        <div class="duo_grid">
          <div><a href="/regolamento">Termini di Servizio</a></div>
          <div><a href="/privacy">Privacy Policy</a></div>
        </div>
      </div>
    </div>
  </div>












  <script type="text/javascript">
    var nibirumail_advice_text = 'Sei preoccupato per qualche biscotto? Leggi la nostra <a href="/privacy" target="_blank">cookie policy</a>.&nbsp;&nbsp; <a href="javascript:;" class="nibirumail_agreement">Capito</a>';
    var nibirumail_stop_jquery, cookie_policy_url, nibirumail_advice_text; function _NibirumailGetStyle(i, e) { return "undefined" != typeof getComputedStyle ? getComputedStyle(i, null).getPropertyValue(e) : i.currentStyle[e] } function _NibirumailFadeOut(i, e) { var t, o; i && (e ? (t = 1, o = setInterval(function () { (t -= 50 / e) <= 0 && (clearInterval(o), t = 0, i.style.display = "none", i.style.visibility = "hidden"), i.style.opacity = t, i.style.filter = "alpha(opacity=" + 100 * t + ")" }, 50)) : (i.style.opacity = 0, i.style.filter = "alpha(opacity=0)", i.style.display = "none", i.style.visibility = "hidden")) } function _NibirumailAddEventListener(i, e, t) { i.addEventListener ? i.addEventListener(e, t) : i.attachEvent("on" + e, function () { t.call(i) }) } function NibirumailgetCookie(i) { var e = ("; " + document.cookie).split("; " + i + "="); if (2 == e.length) return e.pop().split(";").shift() } function NibirumailCookieAccept() { var i = new Date; i.setMonth(i.getMonth() + 3); var e = location.hostname.split("."), t = (e.shift(), e.join("."), e.slice(-2).join(".")); console.log(t), document.cookie = "nibirumail_cookie_advice=1; expires=" + i.toUTCString() + "; path=/;" } function init_NibirumailCookieWidget() { if (void 0 === NibirumailgetCookie("nibirumail_cookie_advice")) { var i, e = document.getElementById("nibirumail_cookie_advice"); e || ((i = document.createElement("div")).id = "nibirumail_cookie_advice", document.body.appendChild(i), e = i), e.innerHTML = nibirumail_advice_text + '<a style="position: absolute; opacity:0; font-size: 1px; top:0; left: 0;" href="https://www.lenus.it">agenzia comunicazione</a>', e.style.zIndex = 2147483647, e.style.position = "fixed", e.style.bottom = 0, e.style.left = 0, e.style.width = "100%", e.style.background = "#000", e.style.color = "#fff", e.style.textAlign = "center", e.style.padding = "10px 0", e.style.fontSize = "12px"; for (var t = e.querySelectorAll("a"), o = 0; o < t.length; o++)t[o].style.color = "#fff", t[o].style.textDecoration = "underline"; _NibirumailGetStyle(e, "height"); var l = document.querySelectorAll(".nibirumail_agreement"); for (o = 0; o < l.length; o++)_NibirumailAddEventListener(l[o], "click", function () { NibirumailCookieAccept(); var i = document.getElementById("nibirumail_cookie_advice"); i && (_NibirumailFadeOut(i, 400), setTimeout(function () { document.body.style.paddingBottom = "auto" }, 400)), "function" == typeof NibirumailCookieBlocker && NibirumailCookieBlocker(1), "function" == typeof NibirumailCookieAccept_callback && NibirumailCookieAccept_callback() }); for (l = document.querySelectorAll(".nibirumail_agrement"), o = 0; o < l.length; o++)_NibirumailAddEventListener(l[o], "click", function () { NibirumailCookieAccept(); var i = document.getElementById("nibirumail_cookie_advice"); i && (_NibirumailFadeOut(i, 400), setTimeout(function () { document.body.style.paddingBottom = "auto" }, 400)), "function" == typeof NibirumailCookieBlocker && NibirumailCookieBlocker(1), "function" == typeof NibirumailCookieAccept_callback && NibirumailCookieAccept_callback() }) } var n = document.querySelectorAll(".nibirumail_delete_cookie"); for (o = 0; o < n.length; o++)_NibirumailAddEventListener(n[o], "click", function () { document.cookie = "nibirumail_cookie_advice=1; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/", document.location.reload() }) } void 0 === nibirumail_stop_jquery && (nibirumail_stop_jquery = 0), void 0 === cookie_policy_url && (cookie_policy_url = "https://nibirumail.com/cookies/policy/?url=" + window.location.hostname), void 0 === nibirumail_advice_text && (nibirumail_advice_text = window.location.hostname + ' utilizza i cookies per offrirti un\'esperienza di navigazione migliore. Usando il nostro servizio accetti l\'impiego di cookie in accordo con la nostra cookie policy. <a target="_blank" href="' + cookie_policy_url + '">Scoprine di pi&ugrave;</a>. <a class="nibirumail_agreement" href="javascript:;">Ho capito.</a>'), init_NibirumailCookieWidget();
  </script>

</body>

</html>