<form action="/aziende/prendiMail" method="post" class="margine">
     <input type="text" name="email" placeholder="Inserisci la tua email">
    <div style="height: 5px;"></div>
    <button type="submit" >Inizia la tua prova gratuita</button>
    <div class="scritta_piccola" style="margin:10px 2px 10px 2px">
        Prova Dhesìo Influencer gratuitamente. Nessuna carta di credito necessaria.
    </div>
</form>