<div class="grid_nav blocco_azzurro">
    <div><img src="/images/singlepage/logo.png" alt="logo" style="width:32px">
      <div style="display:inline-block; font-size: 20px; transform:translateY(9px)">&nbsp;<span
          style="color:#FF9052">Dhesìo</span> <span class="scritte_blu">Influencer</span></div>
    </div>
<div></div>
  </div>